<div class="row">
    <div class="col-sm-12">

        <app-card
        cardTitle="Create New Exams"
        cardClass="Exams"
        blockClass="p-0"
      >
      <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->
      <form (ngSubmit)="submitForm()" >
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" >
          <div [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill Exam info</ng-template>
            <p>
              <mat-form-field class="mx-5 text-white">
                <mat-label>Exam Reference</mat-label>
                <input matInput  placeholder=""  [formControl]="reference"
                       required>
                <mat-icon matSuffix class="text-white">sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </p>
            <p>
            <mat-form-field class="mx-5 text-white">
              <mat-label>Oral exams Date</mat-label>
              <input matInput  [matDatepicker]="picker1" [formControl]="date1">
              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
              <mat-datepicker #picker1  (dateChange)="onDateChange($event, 'dateConcoursEcrit')"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="text-white">
              <mat-label>Oral exams Date</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="date2">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
              <mat-datepicker #picker2 ></mat-datepicker>
            </mat-form-field>
          </p>
            <div>
              <button mat-button type="button" matStepperNext class="btn btn-outline-info border">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div [formGroup]="secondFormGroup">
            <p>
            <ng-template matStepLabel>Fill out info related to exam subjects</ng-template>
            <mat-form-field class="mx-5">
              <mat-label>Select the choosing Sector</mat-label>
              <mat-select [(ngModel)]="concour.filiere.label">
                <mat-option *ngFor="let filiere of filieres "  [value]="filiere.label">{{filiere.label}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field >
              <mat-label>Select the level</mat-label>
              <mat-select id="niveau" [(ngModel)]="concour.niveau">
                <mat-option value="MASTER">Master</mat-option>
                <mat-option value="LICENCE">Licence</mat-option>
                <mat-option value="CYCLE_D_INGENIEUR_1">Cycle d'ingenieur premiere année</mat-option>
                <mat-option value="CYCLE_D_INGENIEUR_2">Cycle d'ingenieur deuxieme année</mat-option>
              </mat-select>
            </mat-form-field> -->
           </p>
            <form  class="mb-5" (ngSubmit)="addSubject()" >
              <mat-form-field hintLabel="Max 10 characters"  class="mx-5 text-white">
                <mat-label>Subject reference</mat-label>
                <input matInput #input maxlength="10" [(ngModel)]="module.reference" placeholder="Ex. Nougat">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
              </mat-form-field>
              <mat-form-field floatLabel="always" class="me-5 text-white">
                <mat-label>Coef</mat-label>
                <input matInput type="number" [(ngModel)]="module.coef" class="example-right-align" placeholder="0">
                <span matTextPrefix>%&nbsp;&nbsp;</span>
              </mat-form-field>
                <button mat-button type="submit" class="btn btn-outline-success border">+</button>
            </form>
            <div class="table-responsive col-sm-8 ms-5">
              <table class="table table-hover bg-dark">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Subject Name</th>
                    <th>Coef</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody *ngFor="let module of modules">
                  <tr>
                    <th scope="row">1</th>
                    <td>{{module.reference}}</td>
                    <td>{{module.coef}} %</td>
                    <td>
                      <button class="action-button1 m-2" (click)="removeSubject(module)" >
                      <i class="fa fa-trash" ></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <button mat-button matStepperPrevious type="button" class="btn btn-outline-info border">Back</button>
              <button mat-button matStepperNext type="button" class="btn btn-outline-info border">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <mat-form-field floatLabel="always" class="me-5 text-white">
            <mat-label>Nombre of place availible</mat-label>
            <input matInput type="number" [(ngModel)]="concour.nbreplace" class="example-right-align" placeholder="0">
            <span matTextPrefix>&nbsp;&nbsp;</span>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="me-5 text-white">
            <mat-label>Nombre of place for the writing exam</mat-label>
            <input matInput type="number" [(ngModel)]="concour.nbreplaceConcoursEcrit" class="example-right-align" placeholder="0">
            <span matTextPrefix>&nbsp;&nbsp;</span>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="me-5 text-white">
            <mat-label>Nombre of place for the oral exam</mat-label>
            <input matInput type="number" [(ngModel)]="concour.nbreplaceConcoursOral" class="example-right-align" placeholder="0">
            <span matTextPrefix>&nbsp;&nbsp;</span>
          </mat-form-field>
          <div>
            <button mat-button class="btn btn-outline-info border" matStepperPrevious>Back</button>
            <button mat-button class="btn btn-outline-success border" type="submit">Submit</button>
            <button mat-button class="btn btn-outline-warning border" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
        </app-card>
    </div>
</div>