<div class="row">
  <div class="col-xl-4">
    <div class="my-2 mb-5 mx-auto position-relative bg-white shadow-1 blue-hover rounded-5 d-flex"
      style="width: 360px; height: 360px; overflow: hidden; 
        background-position: center;background-size: cover;
        background-repeat: no-repeat; background-image: url('https://img.freepik.com/free-vector/realistic-test-paper-composition-with-pencil-stack-students-paperwork-with-marks-correct-answers_1284-54249.jpg?w=826&t=st=1711382707~exp=1711383307~hmac=b0d92cab67977f5a5e8e6e6abb2e95e958c223c1d0793815f01b57527cc10088');">
      <p class="mb-0 position-relative small w-100 text-center fs-3  py-5  fw-bold text-uppercase mb-1 text-muted lts-2px mt-auto "
        style="background-image: linear-gradient(to top, #FFF, #00000030); height: max-content;">
        Master
        <button
          class="rounded-pill fs-6 text-dark d-flex align-items-center justify-content-center bg-transparent position-absolute bottom-0 m-2 end-0"
          style="height: 35px; width: 35px;" (click)="SubscriptionPage('MASTER')"> ==> </button>
      </p>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="my-2 mb-5 mx-auto position-relative bg-white shadow-1 blue-hover rounded-5 d-flex"
      style="width: 360px; height: 360px; overflow: hidden; 
      background-position: center;background-size: cover;
      background-repeat: no-repeat; background-image: url('https://img.freepik.com/free-vector/realistic-test-paper-composition-with-pencil-stack-students-paperwork-with-marks-correct-answers_1284-54249.jpg?w=826&t=st=1711382707~exp=1711383307~hmac=b0d92cab67977f5a5e8e6e6abb2e95e958c223c1d0793815f01b57527cc10088');">
      <p class="mb-0 position-relative small w-100 text-center fs-3  py-5  fw-bold text-uppercase mb-1 text-muted lts-2px mt-auto "
        style="background-image: linear-gradient(to top, #FFF, #00000030); height: max-content;">
        Licence
        <button
          class="rounded-pill fs-6 text-dark d-flex align-items-center justify-content-center bg-transparent position-absolute bottom-0 m-2 end-0"
          style="height: 35px; width: 35px;" (click)="SubscriptionPage('LICENECE')"> ==> </button>
      </p>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="my-2 mb-5 mx-auto position-relative bg-white shadow-1 blue-hover rounded-5 d-flex"
      style="width: 360px; height: 360px; overflow: hidden; 
    background-position: center;background-size: cover;
    background-repeat: no-repeat; background-image: url('https://img.freepik.com/free-vector/realistic-test-paper-composition-with-pencil-stack-students-paperwork-with-marks-correct-answers_1284-54249.jpg?w=826&t=st=1711382707~exp=1711383307~hmac=b0d92cab67977f5a5e8e6e6abb2e95e958c223c1d0793815f01b57527cc10088');">
      <p class="mb-0 position-relative small w-100 text-center fs-3  py-5  fw-bold text-uppercase mb-1 text-muted lts-2px mt-auto "
        style="background-image: linear-gradient(to top, #FFF, #00000030); height: max-content;">
        Cycle Ingenieur 1
        <button
          class="rounded-pill fs-6 text-dark d-flex align-items-center justify-content-center bg-transparent position-absolute bottom-0 m-2 end-0"
          style="height: 35px; width: 35px;" (click)="SubscriptionPage('CYCLE_D_INGENIEUR_1')"> ==> </button>
      </p>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="my-2 mx-auto position-relative bg-white shadow-1 blue-hover rounded-5 d-flex"
      style="width: 360px; height: 360px; overflow: hidden; 
  background-position: center;background-size: cover;
  background-repeat: no-repeat; background-image: url('https://img.freepik.com/free-vector/realistic-test-paper-composition-with-pencil-stack-students-paperwork-with-marks-correct-answers_1284-54249.jpg?w=826&t=st=1711382707~exp=1711383307~hmac=b0d92cab67977f5a5e8e6e6abb2e95e958c223c1d0793815f01b57527cc10088');">
      <p class="mb-0 position-relative small w-100 text-center fs-3  py-5  fw-bold text-uppercase mb-1 text-muted lts-2px mt-auto "
        style="background-image: linear-gradient(to top, #FFF, #00000030); height: max-content;">
        Cycle Ingenieur 2
        <button
          class="rounded-pill fs-6 text-dark d-flex align-items-center justify-content-center bg-transparent position-absolute bottom-0 m-2 end-0"
          style="height: 35px; width: 35px;" (click)="SubscriptionPage('CYCLE_D_INGENIEUR_2')"> ==> </button>
      </p>
    </div>
  </div>
</div>